html{
    width:100%; height:100%;
}

body{
    background: linear-gradient(178deg,#030014 0%, #19009b 120%);
    height:100%;
    margin:0;
    display:grid;
    grid-template-rows: 6% 77% 14%;
    gap:18px;
}
.icon{
    margin-inline:0.5rem;
    width:38px; height:38px;
}

.icon:hover{
    cursor:pointer;
}

.nav{
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color:transparent;
    /* height:6%; */
}

.nav-button{
    padding:0px 17px;
    border:none;
    font-size:20px;
    background-color:transparent;
    
}

.nav-button a{
    color:white;
    text-decoration:none;
}

.nav-button:hover{
    border:2px solid #48cae4;
}

.container{
    /* height:80%; */
    border:1px solid red;
}

.home-container{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
}

.introHeading{
    text-align: center;
    font-size:44px;
}

.contactPage-container{
     height:100%;
    display:grid;
    grid-template-columns:1fr 1fr;
}

.contactPage-header{
    text-align:center;
    vertical-align: center;
    font-size:30px;
}

.contactPage-form{
    display:flex;
    justify-content:center;
    align-items:center;
}

#contactForm{
    width:60%; height:50%;
    background-color: aliceblue;
    border-radius: 25px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

.inputArea{

}

.inputArea label{
    font-size:20px;
}padding

.inputBox{
    width:40px; height:55px;
}

.submitButton{
    font-size:20px;
}

.portfolio-container{
    /* height:100%; */
    margin:1rem 6rem;
    /* display:flex; */
    /* align-items:center; */
}
.card{
    background-color: black;
    border:2px solid #48cae4;
    width:100%; height:200px;
}

.footer{
    padding-inline:1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border:1px solid green;
    /* height:15%; */
}